@font-face {
  font-family: "Exo-Thin";
  font-weight: normal;
  src: url("public/fonts/Exo-Thin.woff2") format("woff2"),
    url("public/fonts/Exo-Thin.woff2") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Exo-SemiBold";
  font-weight: bold;
  src: url("public/fonts/Exo-SemiBold.woff2") format("woff2"),
    url("public/fonts/Exo-SemiBold.woff") format("woff");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}
html {
  font-family: Exo-Thin, Arial, sans-serif;
  background-color: dimgrey;
  color: #000000;
  padding: 50px 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container__heading {
  color: #f2f2f2;
  font-size: 42px;
  font-weight: 200;
}
.container__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*product */
.product {
  display: flex;
  flex-direction: column;
}

.product__block {
  width: 320px;
  height: 480px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
  border: 4px solid #1698d9;
  border-radius: 5%;
}
.product__block--disabled {
  border: 4px solid #f2f2f2;
}

.product__block--disabled:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 320px;
  height: 480px;
  background-color: #f2f2f2;
  opacity: 0.5;
  z-index: 2;
  border-radius: 5%;
}

.product__block--checked {
  border: 4px solid #d91667;
}
.product__input {
  opacity: 0;
}
.product__description-wrap {
  padding: 20px 40px;
}
.product__description {
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}
.product__name {
  font-size: 48px;
  line-height: 56px;
  margin: 10px 0 0;
  font-family: Exo-SemiBold, Arial, sans-serif;
}
.product__flavor {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  margin: 0;
}
.product__info {
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  margin-top: 10px;
}

.product__img {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 5%;
  object-fit: cover;
}
.product__weight {
  background-color: #1698d9;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  right: 10px;

  line-height: 22px;
  color: #fff;
}
.product__weight span:first-child {
  font-size: 42px;
  margin: 20px 0 10px;
}
.product__weight span:last-child {
  font-size: 22px;
}
.product__weight--checked {
  background-color: #d91667;
}
.product__weight--disabled {
  background-color: #b3b3b3;
}

.product__cta {
  display: block;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}
.product__button {
  color: #1698d9;
  border: none;
  padding: 0;
  margin-left: 5px;
  background-color: transparent;
  border-bottom: 1px solid #1698d9;
}
.product__cta--disabled {
  color: #ffff66;
}

@media (min-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .container__wrap {
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .product {
    margin: 0 20px;
  }
  .product__block {
    margin-top: 0;
  }
}
@media (min-width: 1120px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .container__wrap {
    max-width: none;
    margin: 0;
    flex-wrap: wrap;
  }
  .product {
    margin: 0 20px;
  }
}
